<nav class="w-screen p-6">
  <div class="flex justify-between items-center w-full bg-transparent p-4">
    <img class="w-16" src="../../assets/images/logo.png" alt="logo" />

    <div>
      <ul class="flex gap-4 text-zinc-50">
        <li><a routerLink="/">Sobre a empresa</a></li>
        <li>Departamentos</li>
        <li>Dia a Dia do Escritório</li>
        <li><a routerLink="/cadastro">Enviar curriculo</a></li>
      </ul>
    </div>
  </div>
  <div class="h-1 w-full bg-zinc-50"></div>
</nav>
