<div
  class="bg-zinc-900 w-screen h-screen flex flex-col justify-center items-center gap-4"
>
  <app-nav-bar></app-nav-bar>

  <div id="sobre" class="flex gap-4 p-4">
    <img class="h-96" src="../../assets/images/sobre.png" alt="" />
    <div class="flex flex-col items-start justify-center text-left gap-4 text-zinc-50 bg-zinc-600 p-4 ">

        <h1 class="font-bold text-3xl text-zinc-50 ">SOBRE</h1>

      <p>
        Ah, Dunder Mifflin! Bem-vindo ao maravilhoso mundo do papel. Somos muito mais do que apenas uma fornecedora de papel, ok? Nós somos uma família. Um lugar onde a produtividade encontra a criatividade (e onde às vezes encontros de karaokê acontecem no horário de trabalho, mas eu sou flexível, sabe?).
      </p>
      <p>
        Nossa empresa oferece papel de alta qualidade para todos os seus... hã... papéis na vida! Contratos, desenhos, origamis... Seja o que for, o papel Dunder Mifflin vai dar conta. Além disso, somos famosos por nosso atendimento personalizado e uma equipe de vendas que realmente entende você (ou pelo menos finge muito bem).
      </p>
      <p>
        E claro, temos eu, Michael Scott, o melhor chefe do mundo. Tá na minha caneca, não é qualquer um que pode dizer isso. É isso que nos diferencia! Trabalhar aqui não é apenas um trabalho. É um show, um drama, uma comédia – às vezes tudo ao mesmo tempo.
      </p>
      <p>
        Qualquer coisa sobre o site, me manda. Vamos colocar mais... sabor de Scranton nele!
        - Michael Scott
      </p>
    </div>
  </div>
</div>
